#text {
    background-color: brown;
    padding: 20px 20px;
    border: 2px dashed black;
}
#title {
    background-color: cyan;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    border: 2px dashed lightblue;
    margin: 30px;
    
}
#itag {
    background-color: greenyellow;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
    border: 2px dashed black;
}